*.md text=auto
*.txt text=auto

*.kicad_pro text=auto
*.kicad_prl text=auto
*.kicad_sch text=auto
*.kicad_pcb text=auto

*.kicad_wks text=auto
*.kicad_sym text=auto
*.kicad_mod text=auto

*.WINGS binary
*.wings binary

*.STEP binary
*.step binary
*.STP  binary
*.stp  binary

*.wrl -diff
*.WRL -diff
